@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <div class="row">
        <div class="col-lg-6" style="margin-left:150px">
            <img src="~/Content/Images/author.jpg" alt="Author Image" />

        </div>

        <div class="col-lg-6">
            <div class="jumbotron">
                Hello, my name is Nikola Radovancev. I was born on 19th August in 1994. I graduated on "Nikola Tesla" high school. I am currently on Visoka ICT college in Belgrade. This site was made as project for ASP .NET MVC at Visoka ICT college.
                
            </div>
        </div>
    </div>

